html{
    min-height: 713px;
    min-width: 960px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
}

#body {
    border-top: 4px solid;
    border-left: 4px solid;
    border-bottom: 4px solid;
    height: 90%;
    width: 80%;
    border-top-left-radius: 10% 30%;
    border-bottom-left-radius: 50% 70%;
    overflow: hidden;
    position: absolute;
    right: 0;
}
/*Header*/

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 25%;
    float: right;
    width: 100%;
    position: relative;
}
header hgroup {
    height: 70%;
    position: relative;
}
header hgroup h1 {
    
    height: 60%;
    width: 100%;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0;
}
nav {
    height: 30%;
}
nav ul {
    height: 100%;
    background-color: white;
    list-style-type: none;
    text-align: center;
    
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 0 2%;
    width: 96%;
}

nav ul li {
    transition: background-color 0.4s ease-in;
}

nav ul li:hover {
    background-color: black;
    opacity: 1;
}

nav ul li:hover>a {
    color: white;
}

nav>ul>li {
    float: left;
    width: 16.666%;
    position: relative;
}
nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
    display: block;
    padding: 5% 0;
    
    transition: color 0.4s ease-in;
}

nav ul ul {
    position: absolute;
    width: 100%;
    padding: 0;
}

nav ul ul li {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    background-color: #d9d9d9;
    opacity: 0.95;
}

nav ul ul li a {
    text-transform: none;
    font-weight: normal;
    
    padding: 2.5% 0;
}

/*pictures*/
#pictures {
    border-right: 1px solid;
    overflow: hidden;
    height: 100%;
    width: 27%;
    position: absolute;
    left: 0;
}

#pictures img {
    border-bottom: 1px solid;
    display: block;
    width: 100%;
}
/*side_content*/
#side_content {
    background-color: rgba(0, 0, 0, 0.15);
    float: right;
    height: 75%;
    width: 30%;
}

#side_content>p {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
/*main_content*/
#main_content {
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 2px solid;
    border-top-left-radius: 75px;
    float: right;
    height: 58.333%;
    width: 70%;
}
#main_content>h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 20px 0 0 40px;
}
#main_content>section.article {
    margin-left: 70px;
}
#main_content>section.article>h3 {
    display: list-item;
    list-style-type: disc;
}

/*Footer*/
footer {
    height: 25%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer section {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    float: left;
    width: 33%;
    height: 100%;
}

footer section:first-child {
    margin-right: 0.5%;
}

footer section:last-child {
    margin-left: 0.5%;
}